.header {

    .header_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 64px 0 0 0;
        margin-bottom: 94px;
    }

    .list {
        display: flex;
        gap: 42px;
    }

    .link {
        color: #33323D;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .link-2 {
        color: #5FB4A2;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .line {
        width: 1110px;
        height: 1px;
        opacity: 0.15;
        background: #33323D;
        margin-bottom: 48px;
    }
}